.hyperlinkhome{
	color: black;
}
body{
	
}
.text{
	padding: 10px 30px;
}
#aboutusslide{
	height: 100vh;
	box-sizing: border-box;
	padding-top: 15vh;
	display: block;
	text-align: center;
	border-bottom: 3px solid #D34E4E;
	background-color: white; 
	animation: BackgroundGradient 10s ease infinite;
}
#aboutusborder{
	margin-bottom: 10vh;
} 
